#content {
	line-height: 1.618;
	width: 51.8%;
	margin-left: 18.6%;
}

#footer {
	text-align: center;
	font-size: 0.618em;
}

h1, h2 {
	font-family: "Marine UP", "Segoe UI", Helvetica, sans-serif;
}

h1 {
/*	margin-left: 34px;*/
	font-size: 2.618em;
	font-weight: bold;
}

h2 {
	font-size: 0.618em;
	text-transform: uppercase;
}


p {
	font-family: "Achille FY L", "Constantia", "Baskerville", Serif;
	font-size: 1em;
	text-indent: 10%;
}

.quote { font-style: italic; }
.tag { text-transform: uppercase}

@media only screen and (orientation: portrait) {
	#content {
		width: 76.4%;
	}
}

