body {
	line-height: 1.618;
	width: 61.8%;
	margin-left: 14.6%;
}

h1, h2 {
	font-family: "Marine UP", "Segoe UI", Helvetica, sans-serif;
}

h1 {
	margin-left: 14px;
	font-size: 1.618em;
	font-weight: bold;
}

h2 {
	font-size: 0.618em;
	text-transform: uppercase;
}


p {
	font-family: "Achille FY L", "Constantia", "Baskerville", Serif;
	font-size: 1em;
	text-indent: 10%;
}

.quote { font-style: italic; }
.tag { text-transform: uppercase}

@media only screen and (orientation: portrait) {
	body {
		width: 76.4%;
	}
}

