<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% block head %}
	<link rel="stylesheet" href={{ css }} />
	<title> {{ title }} - Standoffish</title>
	{% endblock %}
	
</head>
<body>
	<div id="header">
		hihi
	</div>
	<div id="post">
		<h1>{{ postTitle }}</h1>
		<h2>{{ postSubhead }}</h2>
		{% for paragraph in postBody %}
			<p> {{ paragraph }}
		{% endfor %}
	</div>
	<div id="footer">
		{% block footer %}
			James Liu, {{ year }}
		{% endblock %}
	</div>
</body>
