<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% block head %}
	<link rel="stylesheet" href={{ css }} />
	<title> {{ title }} - Standoffish</title>
	{% endblock %}
	
</head>
<body>
	<div id="header">
		THIS IS A HEADER
	</div>
	<div id="content">
		<h1> What am I even doing </h1>
		<h2> I don't even have any qualifications </h2>
		<p>
			Please hire me.
		</p>

		<p>{% include "content/2016-01-18.html" %}</p>
	</div>
	<div id="footer">
		{% block footer %}
			James Liu, {{ year }}
		{% endblock %}
	</div>
</body>
