<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% block head %}
	<link rel="stylesheet" href={{ css }} />
	<title> {{ title }} - Standoffish</title>
	{% endblock %}
</head>
<body>
	<div id="content">
		<h1> This is a title </h1>
		<h2> december 34st, 2015 </h2>
		<p>
			This is some bitchass paragraph text. Assuming all goes well, this will be how the straight dope be looking on the interweb. If this shit looks good, it'll be a goddammed miracle. Like the almighty fucking lord dropping down and blessing the shit out of some heretic-ass motherfuckers.
		</p>
	</div>
	<div id="footer">
		{% block footer %}
			James Liu, {{ year }}
		{% endblock %}
	</div>
</body>
